body {
    background-image: url(./assets/images/sakura.png);
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}

.headText {
    vertical-align: bottom;
    font-size: 28px;
}

.about {
    width: 150px;
}

.mainpara {
    background-color: whitesmoke;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(227, 227, 227, 0.884);
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    

}

img {
    height: 175px;
    width: auto;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 26px;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    margin-top: 0px;
    padding-left: 10px;
    margin-bottom: 35px;
    height: 53px;
    background-color: whitesmoke;
    border-bottom: 1px solid #800020;
}

h2 {
    border-bottom: 1px solid #3b37379d;
    padding-bottom: 20px;
}

.nav{
    width: 100%;
    margin-top: .5em;
    margin-right: 1em;
}

nav a:visited {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    text-decoration: none;
    color: #000;
    border: 2px solid #800020;
    border-radius: 15px;
    transition: ease .6s;
}


.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 600px;
}

.card {
    padding: 10px;
}

.footer {
    font-family: 'Monsterrat', sans-serif;
    position: relative;
    left: 0;
    bottom: 0;
    top: 500px;
    width: 100%;
    background-color: #66666b;
    border-width: 5px;
    border-color: #800020; opacity:0.6;
    color: #800020;
    text-align: center;
    border-top: solid;
    border-top-color: #800020;
    border-width: 4px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.img-fluid {
    height: 200px;
    width: auto;
}

.head-text {
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar-collapse{
    justify-content: flex-end;
}